.Navbar {
    display: flex;
    
    width: 100vw;
    max-width: 100vw;
    height: 80px;
    position: fixed;
    z-index: 999;

    backdrop-filter: blur(15px);
    background-color: rgba(255, 252, 252, .2);
    border-radius: 0 0 14px 14px;

    >div {
        flex: 1;
        display: flex;

        &.icon {
            padding: 28px;
            margin: 0 20px;

            &.logo {
                justify-content: flex-start;
            }

            &.theme-switcher {
                justify-content: flex-end;
            }
        }

        &.tabs {
            align-items: center;
            justify-content: center;
            height: 100%;
        
            font-size: 18px;
            font-weight: bold;

            >.tab {
                text-align: center;
                flex-basis: 130px;
                min-width: 130px;

                >a {
                    text-decoration: none;
                    color: white;
                }

                @media screen and (max-width: 650px) {
                    &.contact-me {
                        display: none;
                    }
                }

                @media screen and (max-width: 500px) {
                    &.home {
                        display: none;
                    }
                }
            }

            @media screen and (max-width: 420px) {
                & {
                    display: none;
                }
            }
        }
    }
}