.Button {
    display: inline-block;
    backdrop-filter: blur(25px);
    background-color: rgba(255, 252, 252, .2);
    border-radius: 14px;
    
    height: 64px;
    width: auto;
    box-shadow: 2px 2px 41px rgba(0, 0, 0, .25);
    text-align: center;
    
    color: 18px;
    font-weight: bold;

    &:hover {
        background-color: rgba(211, 211, 211, 0.2);
        transition: background-color .1s ease-in-out;
    }

    >div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        >.svg {
            display: inline-block;
            margin: 5px;
        }

        >.text {
            display: inline-block;
            line-height: 24px;
            margin: 5px;
            overflow: hidden;
        }
    }
}