.Button {
    display: inline-block;
    backdrop-filter: blur(25px);
    background-color: rgba(255, 252, 252, .2);
    border-radius: 14px;
    
    height: 64px;
    width: auto;
    box-shadow: 2px 2px 41px rgba(0, 0, 0, .25);
    text-align: center;
    
    color: 18px;
    font-weight: bold;
    margin: 30px 0;
}

.Button .svg {
    display: inline-block;
    margin: 5px;
}

.Button .text {
    display: inline-block;
    line-height: 24px;
    margin: 5px;
}

.Button > div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}