.PresentationCard {
    height: 757px;
}

.bkg-image {
    height: 757px;
    width: 100%;
    object-fit: cover;
    position: absolute;
    
}

.blur-filter {
    height: 757px;
    width: 100%;
    position: absolute;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, .2);
}

.content {
    position: relative;
    top: 80px;
    height: calc(100% - 80px);
}

.presentation {
    display: inline-block;

    margin: 60px 0;
}

.presentation > p {
    font-size: 64px;
    line-height: 70px;
    font-weight: bold;
}

.profile-image {
    height: 600px;
    width: 600px;
    max-width: 100%;
    object-fit: cover;
    border: 20px #223E35 solid;
    border-radius: 24px;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
